@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  padding-top: 40px;
  padding-bottom: 40px;
  background-color: #8aa5cb;
  justify-items: center;
  text-align: center;
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  background-color: #f9ffe1;
  font-family: "Nunito";
  color: black;
  font-weight: bold;
  padding:  1.5vw 4vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2vw;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}

button:hover, button:active {
  background-color: #e9f0d1;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

body {
  font-size: 2.5vmin; /* Scales with viewport */
}

.image-container {
  width: 40%;
}
