@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #8aa5cb;
  justify-items: center;
  text-align: center;
  font-family: "Nunito";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  font-size: 1vmin; /* Scales with viewport */
}

button {
  background-color: #f9ffe1;
  font-family: "Nunito";
  color: black;
  font-weight: bold;
  padding:  1vw 2vw;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1vw;
  margin: 5px 2px;
  cursor: pointer;
  border-radius: 16px;
}

button:hover, button:active {
  background-color: #e9f0d1;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6px;
  width: 60%;  /* Set width smaller than image */
  max-width: 400px;  /* Optionally limit max width */
  margin: 0 auto;  /* Center the button container */
  margin-top: 7px;
}

h2 {
  font-size: 1.5vw;
}

.image-container {
  width: 24%;
  margin: 0 auto;
}

.result-image-container {
  width: 85%;
  padding-top: 20px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
  body {
    font-size: 3vw;
  }

  button {
    padding: 1vw 2vw;
    font-size: 3vw;
  }

  h2 {
    font-size: 4vw;
    max-width: 700px;
    margin-left: 20px;
  }

  .image-container {
    width: 50%;
  }

  .button-container {
    width: 70%; /* Button container width smaller than image */
    max-width: 350px;
  }
}

@media (max-width: 480px) {
  body {
    font-size: 4vw;
  }

  button {
    padding: 3vw 6vw;
    font-size: 4vw;
  }

  h2 {
    font-size: 5vw;
    max-width: 400px;
  }

  .image-container {
    width: 70%;
  }

  .button-container {
    width: 80%; /* Button container width smaller than image */
    max-width: 300px;
  }
}
